/* Corps de la page */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}
/* Conteneur principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  position: fixed;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Titre principal */
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #ff0000;
  margin-bottom: 30px;
}
input[type="text"] {
  width: 320px;
  padding: 12px 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #fa0000;
}
/* Barre de recherche */
form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c83e3e;
}

@media screen and (max-width: 768px) {
  header
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 0px;

  }form
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
}

/* Liste des vidéos */
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

li {
  width: 300px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Miniatures */
img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 5px solid #ff0000;
}

li h3 {
  font-size: 1.2rem;
  margin: 10px;
  color: #333;
}

li p {
  font-size: 0.9rem;
  margin: 10px;
  color: #666;
  line-height: 1.4;
}


/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.close-btn {
  margin-top: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #c0392b;
}

/* Footer Styling */
.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
}

.footer p {
  font-size: 14px;
  color: #333;
  margin: 0;
}
.footer a 
{
  font-weight: bold;
}

.social-links {
  margin-top: 10px;
}

.social-links a ,.lien{
  text-decoration: none;
  margin: 0 15px;
  color: #333;
  font-size: 16px;
}

.social-links a:hover {
  color: #ff0000;
  text-decoration: underline;
}
